

$clickRED: #c32727;
// #fcbbbb
$redList: #e91111, #f5a2a2;

// #200122, #6f0000;

$backgroundColor: #181e21;
 // #263238;
// #757575;

$clickBlue: blue;

$blueList: #2641ab, #6397cb;

$clickGreen: green;

$gradientGreen: #9be35b;
$gradientGreenDark: #2dcf34;

$transitionTime: .45s;

$clickYello: yellow;

$yelloList: #fceabb, #f8b500;
// $yelloList[0];

// #fcbbbb

$backgroundControls: #adbfc6;
// #a2b1b6;
// #5d6467;

$whiteGrey: #e0e0e0;
$darkerWhiteGrey: #bebcbc;
//

$borderBetweenButtons: 10px;






// $SimonButtonWidth:
// $SimonButtonHeight:
// $buttonRadious:
// $borderButtonSize:
