*{
	border: 1px solid red;
}

body{
	margin: 0;
}

.box{
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

.display{
		width: 400px;
	height: 400px;
	margin: 0 auto;
}

ul{
	
	display: flex;
	
}
li{

}

.hide_li{
	display: none;
	
}
