*{

}

body{
	margin: 0;
}

.box{
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

.display{
		width: 400px;
	height: 400px;
	margin: 0 auto;
}

ul{

	display: flex;
  list-style: none;

}
li{
	padding: 10px;
}

.hide_li{
	display: none;

}
